target/*
!target/e-learning-0.0.1-SNAPSHOT.jar
*.jar.original
.mvn/
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
node_modules/
package.json
package-lock.json
requirements.txt
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
.DS_Store
Thumbs.db
/target/
